/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: 'Montserrat',
    sans-serif;
    text-decoration: none;
}

body {
    background: #efefee;

}

.logo {
    width: 180px;
    margin-left: 4rem;
}


.main-menu a {
    color: #282a2e;
    text-decoration: none;
}


ul {
    list-style: none;
}

a,
a:visited {
    color: inherit;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    background: #fff;
}

/* Nav Top and Main */
.top-nav ul {
    display: flex;
    background: #282a2e;
    color: #fff;
    justify-content: flex-end;
}

.top-nav ul li {
    background-color: #ce4b27;
    padding: 0.5rem 2rem;
    font-weight: bold;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 3rem;
    padding: 2rem 1rem;
    font-size: 1rem;
    background: #fff;
    border-bottom: 1px solid #ce4b27;
}

.main-nav ul li a {
    padding-bottom: 2px;
}

.main-nav ul.main-menu {
    flex: 1;
    margin-left: 4rem;
}

.main-nav ul {
    display: flex;
}

.main-nav ul li {
    padding: 0 1.5rem;
}

/* On the link lower the hover */
.main-nav ul li a {
    padding-bottom: 2px;
}

.main-nav ul li a:hover {
    border-bottom: 1px solid #ce4b27;
}

.btn {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    border: 0;
    font-weight: bold;
    letter-spacing: 3px;
    padding: 0 1rem;
    background: #ce4b27;
    border-radius: 0.5rem;
    color: #fff;
    font-size: 1.5rem;
    transition: all 300ms linear;
}


/* Needs transition on showcase Button */
.btn:hover {
    opacity: #fff;
    border: 1px solid #ce4b27;
    color: #ce4b27;
    background: #fff;
}

/* Showcase Area */
.showcase {
    width: 100%;
    height: 100vh;
    background: url('./img/showcase.png') no-repeat center center/cover;
    justify-content: flex-start;
    padding: 4rem;
    border-bottom: 1px solid #ce4b27;
}


/* Spacing on heading */
.showcase h2 {
    margin-bottom: 2rem;
    color: #efefee;
}

/* Spacing on button */
.showcase .btn {
    margin-top: 0.5rem;
}


/* Home Card under Showcase */
.home-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5rem;
    padding: 1rem 1rem;
}

.home-cards img {
    width: 100%;
}

.home-cards a {
    font-size: 1rem;
    display: inline block;
    color: #1074a7;
    font-weight: bold;
}

/* .home-cards a:hover i {
    margin-left: 1rem;
} */


/* News Content */
.news {
    background: #efefee;
    color: #282a2e;
    height: 5rem;
    font-size: .75rem;
    border-top: 1px solid #ce4b27;
    border-bottom: 1px solid #ce4b27;

}

.content {
    padding: 2rem;
    margin-left: 4rem;
}

.main-grid {
    padding: 2rem 2rem;
}

.sub-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    background: #fff;
    height: 2rem;
    font-weight: bold;
}

.head-1:first-child {
    grid-column: 1 / span 3;
}

.sub-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    font-size: .75rem;
    letter-spacing: .26;
    margin-top: 2rem;
}

.sub-grid a {
    color: #1074a7;
    font-weight: 900;
}

.sub-grid ul li h3 {
    font-size: 1.2rem;
}


/* About Us */
.about-us {
    background: #efefee;
    color: #282a2e;
    height: 7rem;
    font-size: .75rem;
    font-weight: bold;
    border-top: 1px solid #ce4b27;
    border-bottom: 1px solid #ce4b27;

}

.about {
    padding: 2rem;
    margin-left: 4rem;
}

.about h3 {
    color: #ce4b27;
    text-transform: uppercase;
}



/* Links Area */
.links {
    background: #fff;
    color: #333;
    font-size: .75rem;
    letter-spacing: .26;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
}

.links h3 {
    text-transform: uppercase;
    font-weight: bold;
}

.links-inner {
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    padding-top: 2rem;
    align-items: flex-start;
    justify-content: center;
}


/* Line Height on Links */
.links li {
    line-height: 2.8;
}

/* Footer */
.footer {
    background: #fff;
    color: #000;
    font-size: .75rem;
    line-height: 1em;
}

.footer-inner {
    max-width: 1400px;
    padding: 0 1rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .75em;
    font-weight: bold;
}

.footer ul {
    display: flex;
    flex-wrap: wrap;
}

.footer li {
    margin-right: 2rem;
    margin-bottom: 1rem;
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #282a2e;
    color: #fff;
    border-top: 1px solid #ce4b27;
}

.footer-bottom ul li {
    margin-left: 4rem;
    margin-top: 1rem;
}

@font-face {
    font-family: 'FrutigerLTW01-45Light';
    src: url('FrutigerLTW01-45Light.woff2') format('woff2'),
        url('FrutigerLTW01-45Light.woff') format('woff'),
        url('FrutigerLTW01-45Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

